html {
  background-image: url("bg_bigsur.jpg");
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
}

body {
  font-size: 50px;
  font-family: 'Poiret One', cursive;
  font-weight: 100;
  color: white;
}

.text {
  font-size: 22px;
  font
  text-decoration: none;
  text-align: center;
  position: relative;
  top: translateY(10%);
  -webkit-transform: translateY(10%);
  opacity: 1;
  line-height: 175%;
}

.name {
  color: white;
  font-size: 45px;
  opacity: 1;
  padding-bottom: 8px;
}

.hexagon {
  position: relative;
  width: 400px;
  height: 230.94px;
  background-color: rgba(191, 85, 236, 0.6);
  margin: 115.47px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 115.47px solid rgba(191, 85, 236, 0.6);
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 115.47px solid rgba(191, 85, 236, 0.6);
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(255,255, 255, 0.7);
  text-decoration: none;
}

.shape {
  shape-outside: polygon(10px 10px, 20px 20px, 30px 30px, 40px, 40px);
  background-color: red;
}